				@font-face {
					font-family: 'liberation-sans';
					src: url('/wp-content/uploads/useanyfont/7730Liberation-Sans.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/7730Liberation-Sans.woff') format('woff');
						  font-display: auto;
				}

				.liberation-sans{font-family: 'liberation-sans' !important;}

				.et_gf_liberation-sans{background:none !important;font-family:liberation-sans;text-indent:0 !important;font-size:25px;}

		