				@font-face {
					font-family: 'liberation-sans';
					src: url('/wp-content/uploads/useanyfont/7730Liberation-Sans.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/7730Liberation-Sans.woff') format('woff');
					  font-display: auto;
				}

				.liberation-sans{font-family: 'liberation-sans' !important;}

						body, p, blockquote, li, a, strong, b, em{
					font-family: 'liberation-sans' !important;
				}
		